@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");
@import "tailwindcss";

:root {
  --background: #0b0416;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Be Vietnam Pro", sans-serif;
  min-height: 100vh;
}
